<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">Info</h2>

            <dl class="dl-horizontal clear-mrg">

                <dt class="text-upper">Phone</dt>
                <dd>18113114505</dd>

                <dt class="text-upper">e-mail</dt>
                <dd>823756414@qq.com</dd>

                <dt class="text-upper">language</dt>
                <dd>CET-6</dd>
                
                <dt class="text-upper">github</dt>
                <dd>https://github.com/zym1119</dd>
                
            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
