<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">Experience</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span>Jan. <strong class="text-upper">2019</strong> - Jun. <strong>2019</strong></span>
                    </time>
                    <h3>Efficient Neural Network Architecuture Search and Deploy</h3>
                    <span class="education-company">Intern of Computer Vision Algorithm Engineer in UISEE</span>
                    <p>Help designing a brand-new Neural Architecture Search algorithm called "Partial Order Pruning"</p>
                    <p>Second author of "Partial Order Pruning: for Best Speed/Accuracy Trade-off in Neural Architecture Search" accepted by CVPR2019</p>
                    <p>Achieve state-of-the-art performance on classification and segmentation on TX2 platform</p>
                    <p>Deploy PL1A model found by Partial Order Pruning on MI8(Snapdragon 845) with 69.1% Cityscapes test mIoU and 40+FPS</p>
                </div>
                <!-- .education-box -->

                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span>Jun. <strong class="text-upper">2018</strong> - Sep. <strong>2018</strong></span>
                    </time>
                    <h3>FPGA-based Efficient Segmentation Network Design on Self-driving Car</h3>
                    <span class="education-company">Intern of Computer Vision Algorithm Engineer</span>
                    <p>Design a light-weight semantic segmentation network deployed on FPGA platform</p>
                    <p>Fine-tune network structure and hyperparameters</p>
                    <p>Use knowledge distillation and pruning to simplify network, increasing backbone ImageNet accuracy 2.57%/1.09%</p>
                    <p>Achieve 93.4% mIoU on driving area and 60ms inference speed on FPGA</p>
                </div>
                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span>Sep. <strong class="text-upper">2017</strong> - Nov. <strong>2017</strong></span>
                    </time>
                    <h3>ResNet based FPGA CNN Accelerator Design</h3>
                    <p>Replace Convolution with XNOR gate based on XNOR-Net</p>
                    <p>Use tensorflow to verify the effective of algorithm</p>
                    <p>Design Convolution Module, RAM block, Control Module and Logics in VHDL on VC707 platform</p>
                </div>
                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span>Sep. <strong class="text-upper">2016</strong> - Apr. <strong>2017</strong></span>
                    </time>
                    <h3>Design, Develop and Deploy of Powerline Communication System</h3>
                    <p>Simulate system and blocks on Matlab</p>
                    <p>Program on TMS320F28069 DSP chip using C</p>
                    <p>Design the synchronization algorithm based on the channel character of 220V powerline</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- .section -->
