<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">Education</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/UESTC_logo.jpg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>
                
                <div class="ref-info">
                    <div class="ref-author">
                        <strong>University of Electronic Science and Technology of China</strong>
                        <span>2016 - 2019 | National Key Lab. of Communication</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>Master's Degree</p>
                        <p>First-class scholarship in 2016-2017</p>
                        <p>Second-class scholarship in 2017-2019</p>
                        <p>Excellent Student Leader</p>                        
                    </blockquote>
                 </div>
             </div><!-- .ref-box -->          
                    
             <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/UESTC_logo.jpg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>
                    
                <div class="ref-info">
                    <div class="ref-author">
                        <strong>University of Electronic Science and Technology of China</strong>
                        <span>2012 - 2016 | School of Communication and Information Engineering</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>Bachelor's Degree</p>
                        <p>Third-class scholarship in 2012-2016</p>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
